<mat-nav-list>
  <div *ngIf="member" class="profile-card">
    <div class="header">
      <h2>{{member.firstName}} {{member.lastName}}</h2>
      <h4>{{member.email}}</h4>
    </div>
    <div *ngIf="imageUrl">
      <img [src]='imageUrl' alt="" class="rounded-image">
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/team-select">Teams</a>
  <a mat-list-item routerLinkActive="list-item-active">Leaderboards</a>
  <a mat-list-item routerLinkActive="list-item-active">Inbox</a>

</mat-nav-list>
