<mat-toolbar color="primary" class="no-boarder">
  <mat-toolbar-row >
      <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
      </button>

      <span> Football Banter </span>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
              <li>
                  <button mat-button [matMenuTriggerFor]="menu">
                      <mat-icon>person_outline</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" >
                    <button mat-menu-item class="no-boarder" (click)="this.navigateToAccount()">
                      <mat-icon>person_outline</mat-icon>
                        Account
                  </button>
                      <button mat-menu-item class="no-boarder" (click)="this.signout()">
                          <mat-icon>exit_to_app</mat-icon>
                            Signout
                      </button>
                  </mat-menu>

              </li>
          </ul>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
