.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-form-field {
  width: 100%;
  outline: none;
  margin: 0;
}

.no-padding {
padding: 0;
}

.right-padding {
  padding-right: 5px;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.half-width {
  width: 50%;
}

.profile-card {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.rounded-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.center {
  margin: auto;
}

.gray {
  color: gray;
}

.large-text{
  font-size: xx-large;
}
