<div class="container">
  <div class="card m-3">
    <h5 class="card-header">Account</h5>
    <div class="card-body">
      <div class="vertical-center">
        <form [formGroup]="accountFormGroup" class="form" *ngIf="this.member">

          <div class="form-row">
            <div class="center">
              <div class="profile-card ">
                <div class="header">
                  <h2>{{member.login}}</h2>
                </div>
                <img [src]='imageUrl' alt="" class="rounded-image">
              </div>

              <app-file-upload buttonCaption="Change Picture" (selectedFile)="this.recieveFile($event)">
              </app-file-upload>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-6 no-padding text-center">
              <mat-label class="score-box">Banter Score</mat-label>
              <br>
              <label class="large-text"> {{member.banterScore}} </label>
            </div>

            <div class="form-group col-6 no-padding text-center">
              <mat-label class="score-box">Comment Score</mat-label>
              <br>
              <label class="large-text"> {{member.commentScore}} </label>
            </div>
          </div>

          <div class="form-row">
            <mat-form-field class="form-group col-6 no-padding">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName"
                [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }" />
              <div *ngIf="submitted && form.firstName.errors" class="text-danger">
                <div *ngIf="form.firstName.errors.required">First Name is required</div>
              </div>
            </mat-form-field>

            <mat-form-field class="form-group col-6 right-padding">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName"
                [ngClass]="{ 'is-invalid': submitted && form.lastName.errors }" />
              <div *ngIf="submitted && form.lastName.errors" class="text-danger">
                <div *ngIf="form.lastName.errors.required">Last Name is required</div>
              </div>
            </mat-form-field>
          </div>

          <div class="form-row">
            <form [formGroup]="passwordFormGroup" class="form" *ngIf="this.member">
              <mat-form-field class="form-group col-6 no-padding ">
                <mat-label>Current Password</mat-label>
                <input matInput type="password" formControlName="currentPassword"
                  [ngClass]="{ 'is-invalid': passwordSubmitted && passwordForm.currentPassword.errors }" />
                <div *ngIf="passwordSubmitted && passwordForm.currentPassword.errors" class="text-danger">
                  <div *ngIf="passwordForm.currentPassword.errors.required">Password is required</div>
                  <div *ngIf="passwordForm.currentPassword.errors.minlength">Password must be at least 8 characters
                  </div>
                </div>
              </mat-form-field>

              <mat-form-field class="form-group col-6 right-padding">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="newPassword"
                  [ngClass]="{ 'is-invalid': passwordSubmitted && passwordForm.newPassword.errors }" />
                <div *ngIf="passwordSubmitted && passwordForm.newPassword.errors" class="text-danger">
                  <div *ngIf="passwordForm.newPassword.errors.required">New Password is required</div>
                  <div *ngIf="passwordForm.newPassword.errors.minlength">Password must be at least 8 characters</div>
                </div>
              </mat-form-field>
            </form>
          </div>

          <div>
            <div *ngIf="passwordChanged">
              <div class="alert alert-success" role="alert">
                Password successfully changed.
              </div>
            </div>
            <div *ngIf="errorChangingPassword">
              <div class="alert alert-danger" role="alert">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <button (click)="this.changePassword()" type="button" mat-raised-button color="secondary" class="full-width"
            [class.spinner]="isChangingPassword" [disabled]="isChangingPassword">
            Change Password
          </button>

          <button (click)="this.save()" type="button" mat-raised-button color="primary" [class.spinner]="isSaving"
            class="full-width" [disabled]="isSaving">Save</button>

        </form>
        <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate" class="horizontal-center">
        </mat-progress-spinner>
      </div>


    </div>
  </div>
</div>
