<p> Add your new piece of banter here chaps </p>
<form class="example-form" #createBanterForm="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>Add banter</mat-label>

    <input  matInput [(ngModel)]="model.description" name="description" #name="ngModel"
      id="description"  placeholder="Type your banter here..." required minlength="1">
  </mat-form-field>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" >

    <div *ngIf="name.errors.required" class="alert alert-danger">
      Description is required.
    </div>
  </div>

  <button (click)="submit()" [mat-dialog-close]="this.phrase" mat-raised-button [disabled]="createBanterForm.form.invalid"  >Submit</button>
  <button mat-raised-button matDialogClose>Cancel</button>
</form>
